* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #6e6666;
    background-color: #f5f5f5;
}


/**********************************************************************************
                                Option Part
**********************************************************************************/

.parent-option {
    position: fixed;
    left: 0;
    top: 300px;
    z-index: 9999999;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.options {
    background-color: #4e1b2d;
    padding: 20px;
    position: relative;
}

.options li {
    width: 20px;
    height: 20px;
    background-color: royalblue;
    display: inline-block;
    cursor: pointer;
}

.parent-option img {
    width: 30px;
    cursor: pointer;
}

.parent-option i {
    border: 1px solid #4e1b2d;
    cursor: pointer;
    padding: 5px;
}


/**********************************************************************************
                                Navigation Part
**********************************************************************************/

.navbar {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-trans {
    background-color: transparent;
}

.nav-item {
    position: relative;
    padding: 0px 10px;
}

.btn-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999999999;
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: black;
}

.stickynav {
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-item a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link {
    padding: 8px;
    display: block;
}

.nav-link1 {
    width: 35px;
    height: 2px;
    background: #fff;
    margin-left: 9px;
    transition: width 500ms ease-in-out;
}

.navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.nav-link2 {
    width: 0px;
    height: 2px;
    background: #fff;
    transition: width 500ms ease-in-out;
    margin-left: 9px;
}

.nav-item:hover .nav-link2 {
    width: 35px;
}


/**********************************************************************************
                              Home Part
**********************************************************************************/

.home {
    width: auto;
    background-image: url(intro-bg.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.home-decoration {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-description {
    width: 80%;
}

.home-description h1 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 72px;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
}

#home h3 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

#home h3::after {
    content: "";
    animation: slider 10s linear infinite;
}

@keyframes slider {
    0% {
        content: "W|";
    }
    1% {
        content: "We|";
    }
    2% {
        content: "Web|";
    }
    3% {
        content: "Web |";
    }
    4% {
        content: "Web D|";
    }
    5% {
        content: "Web De|";
    }
    6% {
        content: "Web Dev|";
    }
    7% {
        content: "Web Deve|";
    }
    8% {
        content: "Web Devel|";
    }
    9% {
        content: "Web Develo|";
    }
    10% {
        content: "Web Develop|";
    }
    11% {
        content: "Web Develope|";
    }
    12% {
        content: "Web Developer|";
    }
    13% {
        content: "Web Developer|";
    }
    14% {
        content: "Web Developer|";
    }
    15% {
        content: "Web Develope|";
    }
    16% {
        content: "Web Develop|";
    }
    17% {
        content: "Web Develo|";
    }
    18% {
        content: "Web Devel|";
    }
    19% {
        content: "Web Deve|";
    }
    20% {
        content: "Web Dev|";
    }
    21% {
        content: "Web De|";
    }
    22% {
        content: "Web Des|";
    }
    23% {
        content: "Web Desi|";
    }
    24% {
        content: "Web Desig|";
    }
    25% {
        content: "Web Design|";
    }
    26% {
        content: "Web Designe|";
    }
    27% {
        content: "Web Designer|";
    }
    28% {
        content: "Web Designer|";
    }
    29% {
        content: "Web Designer|";
    }
    30% {
        content: "Web Designe|";
    }
    31% {
        content: "Web Design|";
    }
    32% {
        content: "Web Desig|";
    }
    33% {
        content: "Web Desi|";
    }
    34% {
        content: "Web Des|";
    }
    35% {
        content: "Web De|";
    }
    36% {
        content: "Web D|";
    }
    37% {
        content: "Web |";
    }
    38% {
        content: "Web|";
    }
    39% {
        content: "We|";
    }
    40% {
        content: "W|";
    }
    41% {
        content: "F|";
    }
    42% {
        content: "Fr|";
    }
    43% {
        content: "Fro|";
    }
    44% {
        content: "Fron|";
    }
    45% {
        content: "Front|";
    }
    46% {
        content: "Fronte|";
    }
    47% {
        content: "Fronten|";
    }
    48% {
        content: "Frontend|";
    }
    49% {
        content: "Frontend |";
    }
    50% {
        content: "Frontend D|";
    }
    51% {
        content: "Frontend De|";
    }
    52% {
        content: "Frontend Dev|";
    }
    53% {
        content: "Frontend Deve|";
    }
    54% {
        content: "Frontend Devel|";
    }
    55% {
        content: "Frontend Develo|";
    }
    56% {
        content: "Frontend Develop|";
    }
    57% {
        content: "Frontend Develope|";
    }
    58% {
        content: "Frontend Developer|";
    }
    59% {
        content: "Frontend Developer|";
    }
    60% {
        content: "Frontend Developer|";
    }
    61% {
        content: "Frontend Develope|";
    }
    62% {
        content: "Frontend Develop|";
    }
    63% {
        content: "Frontend Develo|";
    }
    64% {
        content: "Frontend Devel|";
    }
    65% {
        content: "Frontend Deve|";
    }
    66% {
        content: "Frontend Dev|";
    }
    67% {
        content: "Frontend De|";
    }
    68% {
        content: "Frontend D|";
    }
    69% {
        content: "Frontend |";
    }
    70% {
        content: "Frontend|";
    }
    71% {
        content: "Fronten|";
    }
    72% {
        content: "Fronte|";
    }
    73% {
        content: "Front|";
    }
    74% {
        content: "Fron|";
    }
    75% {
        content: "Fro|";
    }
    76% {
        content: "Fr|";
    }
    77% {
        content: "F|";
    }
    78% {
        content: "|";
    }
    79% {
        content: "C|";
    }
    80% {
        content: "CE|";
    }
    81% {
        content: "CEO|";
    }
    82% {
        content: "CEO |";
    }
    83% {
        content: "CEO D|";
    }
    84% {
        content: "CEO De|";
    }
    85% {
        content: "CEO Dev|";
    }
    86% {
        content: "CEO DevF|";
    }
    87% {
        content: "CEO DevFo|";
    }
    88% {
        content: "CEO DevFol|";
    }
    89% {
        content: "CEO DevFoli|";
    }
    90% {
        content: "CEO DevFolio|";
    }
    91% {
        content: "CEO DevFolio|";
    }
    92% {
        content: "CEO DevFolio|";
    }
    93% {
        content: "CEO DevFoli|";
    }
    94% {
        content: "CEO DevFol|";
    }
    95% {
        content: "CEO DevFo|";
    }
    96% {
        content: "CEO DevF|";
    }
    97% {
        content: "CEO Dev|";
    }
    98% {
        content: "CEO De|";
    }
    99% {
        content: "CEO D|";
    }
    100% {
        content: "CEO |";
    }
}

@media screen and (max-width:770px) {
    .home-description .intro-title {
        font-size: 48px;
    }
    .home-description h3 {
        font-size: 24px;
    }
}


/**********************************************************************************
                              About Part
**********************************************************************************/

.about {
    padding-top: 4rem;
}

.box-shadow-full {
    width: 100%;
    position: relative;
    background-color: #fff;
    margin: 0 0 48px;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    padding: 4rem 1rem 4rem 1rem;
}

.about-item {
    margin-left: 2px;
}

.about-logo {
    padding: 0px 15px;
}

.about-img {
    margin-left: 10px;
    margin-bottom: 32px;
}

.about-img-size {
    padding-right: 5px;
}

.title {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}

.skill .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
}

.pull-right {
    float: right;
    overflow: hidden;
}

.title-box-2 {
    margin-bottom: 3rem;
}

.title-left {
    margin-bottom: 8px;
    font-size: 2rem;
    position: relative;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}


/**********************************************************************************
                              Services Part
**********************************************************************************/

.col-sm-12 {
    width: 100%;
    min-height: 1px;
}

.services-title {
    padding-bottom: 40px;
}

.services-title h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
}

.services-title p {
    color: #4e4e4e;
    margin-top: 0;
    margin-bottom: 1rem;
}

.services-title ::after {
    background-color: #0078ff;
    bottom: 35px;
    height: 5px;
    width: 40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-4 {
    min-height: 1px;
}

.services-items {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.services-icon {
    color: #1e1e1e;
}

.services-items .icon-border {
    transition: all 500ms ease;
    font-size: 4rem;
}

.icon-border {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
    padding-top: 20px;
}

.services-description h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: .4rem 0;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 15px;
}

.services-description p {
    color: #4e4e4e;
    margin-top: 0;
    margin-bottom: 1rem;
}

.services-items:hover .icon-border {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}


/**********************************************************************************
                            Next Services Part
**********************************************************************************/

.next-services {
    position: relative;
    padding: 8rem 0;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.bg-image {
    background-image: url(counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    background-color: #0078ff;
}

.col-sm-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.parts {
    color: #fff;
}

.parts-icon .icon-border {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #cde1f8;
    display: block;
}

.icon {
    font-size: 30px;
    padding-bottom: 25px;
}

.icon ::after {
    background-color: #0078ff;
    bottom: 35px;
    height: 5px;
    width: 40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.parts-number p {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}


/**********************************************************************************
                       Work Part
**********************************************************************************/

.col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.work-title {
    margin-bottom: 4rem;
}

.work-title h3 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.2;
    margin-top: 0;
}

.work-title p {
    color: #4e4e4e;
    margin-top: 0;
    margin-bottom: 1rem;
}

.work-title ::after {
    background-color: #0078ff;
    bottom: 35px;
    height: 5px;
    width: 40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.work-description {
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    background-color: transparent;
}

.work-description:hover a {
    text-transform: none;
    text-decoration: none;
}

.work-img img {
    transition: all 1s;
    vertical-align: middle;
    border-style: none;
}

.work-description:hover img {
    transform: scale(1.3);
}

.work-text {
    padding: 2rem 3% 1.5rem 4%;
}

.work-text h2 {
    font-size: 1.2rem;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.work-text .work-text1 {
    color: #4e4e4e;
    font-size: .8rem;
}

.work-text1 .work-text2 {
    color: #0078ff;
}

.work-text .work-icon {
    font-size: 2rem;
    color: #0078ff;
    float: right;
    margin-top: 10px;
    text-align: center;
}

.icon1 {
    font-size: 2rem;
    font-weight: lighter;
}

.work-icon .icon1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 0;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 1.5px #0078ff;
    display: block;
}


/**********************************************************************************
                       Next Work Part
**********************************************************************************/

.testmonial {
    width: 100%;
    background-image: url(overlay-bg.jpg);
    position: relative;
    padding: 8rem 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 85%;
}

.test1 {
    padding: 0px 20px;
}

.test1 h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.test1 p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #1B1B1B;
    width: 25px;
}

.test2 {
    font-size: 2rem;
    color: #0078ff;
    background-color: #fff;
    width: 52px;
    height: 52px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 1.6;
}

.test2 i {
    margin-top: 10px;
}

.carousel-indicators li {
    background: #cde1f8;
    width: 18px;
    height: 7px;
    margin: 5px 5px 110px 5px;
    border: 0px solid #cde1f8;
    display: block;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}


/**********************************************************************************
                       Blog Part
**********************************************************************************/

.blog-title {
    margin-bottom: 4rem;
}

.blog-title h3 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.2;
    margin-top: 0;
}

.blog-title p {
    color: #4e4e4e;
    margin-top: 0;
    margin-bottom: 1rem;
}

.blog-title ::after {
    background-color: #0078ff;
    bottom: 45px;
    height: 5px;
    width: 40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.card-deck {
    padding-top: 20px;
    padding-bottom: 100px;
}

.card {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.card-body {
    position: relative;
}

.card-button {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: .7rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.card-btn {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 130px;
    right: 120px;
    line-height: 25px;
    overflow: hidden;
    border-radius: 4px;
    width: 25%;
    background-color: #0078ff;
    padding-top: 10px;
}

.card-btn1 {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 130px;
    right: 100px;
    line-height: 25px;
    overflow: hidden;
    border-radius: 4px;
    width: 25%;
    background-color: #0078ff;
    padding-top: 10px;
}

.card-body-text {
    padding: 10px 0px 20px 0px;
}

.card-body-text a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.3rem;
    margin-top: .6rem;
    margin-bottom: .75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.card-body-text:hover a {
    color: #007bff;
}

.card-body-text p {
    color: #4e4e4e;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 10px;
}

.card-footer {
    padding: 12px 5px 10px 5px;
}

.profile-img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
    border-radius: 50%;
}

.footer-profile a {
    padding-left: 5px;
}

.text-muted {
    float: right;
    font-size: 16px;
}

.icon2 {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}


/**********************************************************************************
                         Contact Part
**********************************************************************************/

.col-sm-12 {
    margin-top: 30px;
}

.contact {
    width: 100%;
    background-image: url(overlay-bg.jpg);
    position: relative;
    padding: 7.5rem 0 3.7rem 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: auto;
}

.contact-us {
    position: relative;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    padding: 50px 20px 50px 17px;
    margin: 0px 0px;
}

.contact-us1 {
    padding-left: 30px;
}

.message-us h2 {
    font-size: 2rem;
    position: relative;
    color: #1e1e1e;
    margin-bottom: 3rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.message-us ::before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.contact-form1 {
    display: block;
    width: 100%;
    padding: .4rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 1.9rem;
}

input {
    overflow: visible;
}

button {
    border-radius: 5rem;
    padding: .9rem 2.3rem;
    font-size: 1.2rem;
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.message-us1 h2 {
    font-size: 2rem;
    position: relative;
    color: #1e1e1e;
    margin-bottom: 3rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.message-us1 ::before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.contact-text {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.5;
}

.contact-details {
    padding-top: 15px;
}

.contact-icon ion-icon {
    color: #0078ff;
    width: 95%;
}

.contact-loc {
    line-height: 1;
    color: #4e4e4e;
    margin-left: -20px;
}

.media-icons {
    margin-left: -30px;
}

.media-icons1 {
    margin-left: 0px;
}

.icon-border1 {
    height: 40px;
    width: 40px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 3px #0078ff;
    display: block;
}

.icon-border1 i {
    width: 70%;
    color: #1e1e1e;
    margin-top: 4px;
}

.contact-footer {
    color: #fff;
    position: relative;
    padding-top: 50px;
}

.contact-footer p {
    margin-bottom: .3rem;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:1200px) and (min-width:995px) {
    .media-icons {
        margin-left: -20px;
    }
}

@media screen and (max-width:995px) and (min-width:775px) {
    .media-icons {
        margin-left: 0px;
    }
}

@media screen and (max-width:775px) {
    .media-icons {
        margin-left: -30px;
    }
}